.menu {
    margin: 20px 0;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }